#slider {
    width: 500px;
    position: relative;
    margin: 0 auto;
    height: 200px;
}
#navigation {
    width: 500px;
    margin: 10px auto;
}
#slider .slide {
    position: absolute;
    height: 100%;
    display: none;
}
#slider .slide.show {
    display: block;
}
.slide.slide-1 {
    background: red;
}
.slide.slide-2 {
    background: blue;
}
.slide.slide-3 {
    background: green;
}